@font-face {
   font-family: "Gilroy_semibold";
   src: url("gilroy/Gilroy-SemiBold.woff");
}

@font-face {
   font-family: "Gilroy_regular";
   src: url("gilroy/Gilroy-Regular.woff");
}

@font-face {
   font-family: "Jakarta_sans_body";
   src: url("jakarta-sans/PlusJakartaSans-Regular.woff2");
}

@font-face {
   font-family: "Garamond_regular";
   src: url("Cormorant-Garamond/CormorantGaramond-Regular.ttf");
}
