html {
   scroll-behavior: smooth;
   /* background-color: #101014; */
   background-color: #f7f7f7;
}

body {
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   /*color: #fdf1e7;*/
   color: #f3f1d0;
}
